<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<header>
 <h1>header</h1>
</header>

  <h1>Range</h1>
  <form class="wrap">
    <p>Кол-во цветков:</p>
    <div class="range-wrap">
      <div class="rangeOperator" id="rangePlus">+</div>
      <label id="rangeNum">0</label>
      <div class="rangeOperator" id="rangeMinus">-</div>
    </div>
    <div id="slider"></div>
  </form>
  <input type="hidden" name="rangeNum" value="25">
<footer>
  <h1>footer</h1>
</footer>
</body>
</html>