$icons: (
sprite: (width: 1880px, height: 755px, pngPath: '../images/sprite.png', svgPath: '../images/sprite.svg'),
   360: (width: 35.97px, height: 16.97px, backgroundX: -1057px, backgroundY: -460px),
   Academic: (width: 67px, height: 41px, backgroundX: -970px, backgroundY: -497.03px),
   AppStore: (width: 77px, height: 27.03px, backgroundX: -970px, backgroundY: -460px),
   Arrow_small: (width: 9px, height: 5.279999999999999px, backgroundX: -1159.63px, backgroundY: -460px),
   Binocl: (width: 60px, height: 46px, backgroundX: -73.97px, backgroundY: -570px),
   Bouqet: (width: 21px, height: 22.97px, backgroundX: -340.35px, backgroundY: -570px),
   Calend: (width: 19.94px, height: 21px, backgroundX: -435.35px, backgroundY: -570px),
   Cancel: (width: 14.75px, height: 14.440000000000001px, backgroundX: -1436.87px, backgroundY: -497.03px),
   Car: (width: 25px, height: 19px, backgroundX: -1309.87px, backgroundY: -497.03px),
   Cart: (width: 24px, height: 19px, backgroundX: -1344.87px, backgroundY: -497.03px),
   Catalog: (width: 57px, height: 41px, backgroundX: -1047px, backgroundY: -497.03px),
   Cherry: (width: 63.97px, height: 53px, backgroundX: 0px, backgroundY: -570px),
   Clock: (width: 52px, height: 52px, backgroundX: -32px, backgroundY: -692px),
   Delet: (width: 17.03px, height: 21px, backgroundX: -465.29px, backgroundY: -570px),
   Edit_info: (width: 17.78px, height: 18px, backgroundX: -666.32px, backgroundY: -570px),
   Errow_big: (width: 19px, height: 36px, backgroundX: -235.38px, backgroundY: -570px),
   Facebook: (width: 7.91px, height: 15.690000000000001px, backgroundX: -714.01px, backgroundY: -570px),
   Flower: (width: 15.879999999999999px, height: 31px, backgroundX: -182.97px, backgroundY: -633px),
   Heart: (width: 57.97px, height: 49px, backgroundX: 0px, backgroundY: -633px),
   ICQ: (width: 19.97px, height: 20px, backgroundX: -522.32px, backgroundY: -570px),
   Instagram: (width: 18.03px, height: 18px, backgroundX: -610.2900000000001px, backgroundY: -570px),
   Like: (width: 39.84px, height: 35.03px, backgroundX: -1177px, backgroundY: -497.03px),
   List: (width: 36.03px, height: 27.97px, backgroundX: -1226.84px, backgroundY: -497.03px),
   Mail_agent: (width: 19px, height: 18px, backgroundX: -581.2900000000001px, backgroundY: -570px),
   Money: (width: 39px, height: 49px, backgroundX: -133.97px, backgroundY: -633px),
   Odnoclass: (width: 9.91px, height: 16.38px, backgroundX: -694.1px, backgroundY: -570px),
   PDF_icon: (width: 900px, height: 450px, backgroundX: -970px, backgroundY: 0px),
   Palm: (width: 45px, height: 52px, backgroundX: -94px, backgroundY: -692px),
   Photo: (width: 53px, height: 39px, backgroundX: -1114px, backgroundY: -497.03px),
   Pointer: (width: 36.41px, height: 38px, backgroundX: -143.97px, backgroundY: -570px),
   Present: (width: 56px, height: 49px, backgroundX: -67.97px, backgroundY: -633px),
   Search: (width: 12px, height: 12px, backgroundX: -1461.62px, backgroundY: -497.03px),
   Skype: (width: 18px, height: 18px, backgroundX: -638.32px, backgroundY: -570px),
   Star: (width: 27px, height: 25.97px, backgroundX: -1272.87px, backgroundY: -497.03px),
   Telegram: (width: 20px, height: 17px, backgroundX: -1378.87px, backgroundY: -497.03px),
   Tie: (width: 22px, height: 53px, backgroundX: 0px, backgroundY: -692px),
   Viber: (width: 20px, height: 21px, backgroundX: -492.32000000000005px, backgroundY: -570px),
   Video: (width: 35.97px, height: 28px, backgroundX: -264.38px, backgroundY: -570px),
   Watsup: (width: 19px, height: 19px, backgroundX: -552.2900000000001px, backgroundY: -570px),
   Web_casm: (width: 35px, height: 36.97px, backgroundX: -190.38px, backgroundY: -570px),
   Znak: (width: 20px, height: 24px, backgroundX: -310.35px, backgroundY: -570px),
   e-mail: (width: 19px, height: 13px, backgroundX: -1102.97px, backgroundY: -460px),
   edit: (width: 960px, height: 560px, backgroundX: 0px, backgroundY: 0px),
   minus: (width: 22px, height: 22px, backgroundX: -371.35px, backgroundY: -570px),
   plus: (width: 22px, height: 22px, backgroundX: -403.35px, backgroundY: -570px),
   twitter: (width: 18px, height: 15px, backgroundX: -1408.87px, backgroundY: -497.03px),
   vk: (width: 17.66px, height: 10.190000000000001px, backgroundX: -1131.97px, backgroundY: -460px),
);
