$colorDark: #3a3a3a;
$colorGrey: #e6e6e6;
$colorWhite: #fff;
$colorPink: #e395c0;
$colorPinkLight: #f49ac1;
$colorPinkHover: #dc7ab0;
$colorLightGreen: #e8f1ed;
$colorGreen: #698e7d;
$colorDarkGreen: #006134;
$lightPurple: #d4d3ff;