<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-3">
        <div class="dropdown">
          <div class="dropdown__selected dropdown__selected_white dropdown__selected_s">
            Челябинск
          </div>
          <ul class="dropdown__content dropdown__content_theme_left">
            <li></li>
          </ul>
        </div>
        <div class="dropdown dropdown__header-tel">
          <div class="dropdown__selected dropdown__selected_white dropdown__selected_m">
            8 800 5555 714
          </div>
          <ul class="dropdown__content dropdown__content_theme_left">
            <li></li>
          </ul>
        </div>
        <div class="link link_white link_size_s link_underline">Заказать звонок</div>
      </div>
      <div class="col col-6 text-center">
        <div class="logo header__logo">
          <a href="index.html"><img src="images/logo.png" alt="" class="logo_img"></a>
          <div class="header__logo_text">В любую точку мира за 3 часа!</div>
        </div>
      </div>
      <div class="col col-3 text-right">
        <div class="link link_white link_size_s in-bl">Вход</div>
        <div class="dropdown in-bl dropdown_lang">
          <div class="dropdown__selected spite">
            en
          </div>
          <ul class="dropdown__content dropdown__content_theme_left">
            <li>ru</li>
          </ul>
        </div>
        <div class="dropdown in-bl">
          <div class="dropdown__selected dropdown__selected_white dropdown__selected_s">
            $
          </div>
          <ul class="dropdown__content dropdown__content_theme_left">
            <li></li>
          </ul>
        </div>
        <a href="" class="header__cart">
          <span class="sprite"><span class="header__cart-val">1</span></span>
          <span class="link link_size_s link_white">Мой заказ</span>
        </a>
        <div class="sprite link link_size_s link_white">Поиск</div>
      </div>
    </div>
  </div>
  <div class="search-form hidden">
    <div class="container">
      <div class="sprite"></div>
      <input class="search-form__input" type="search" placeholder="Искать букет, например “розы”">
      <button class="search-form__close sprite"></button>
    </div>
    <div class="search-form__nav">
      <div class="container">
        <ul>
          <li class="dropdown search-form__nav-item">
            <div class="dropdown__selected">Кому</div>
            <ul class="dropdown__content">
              <li class="dropdown__item search-form__nav-option">Не выбрано</li>
              <li class="dropdown__item search-form__nav-option">Женщине</li>
              <li class="dropdown__item search-form__nav-option">Мужчине</li>
              <li class="dropdown__item search-form__nav-option">Маме</li>
              <li class="dropdown__item search-form__nav-option">Коллеге</li>
              <li class="dropdown__item search-form__nav-option">Ребенку</li>
            </ul>
          </li>
          <li class="dropdown search-form__nav-item">
            <div class="dropdown__selected">Тюльпаны</div>
            <ul class="dropdown__content">
              <li class="dropdown__item search-form__nav-option">Не выбрано</li>
              <li class="dropdown__item search-form__nav-option">Женщине</li>
              <li class="dropdown__item search-form__nav-option">Мужчине</li>
              <li class="dropdown__item search-form__nav-option">Маме</li>
              <li class="dropdown__item search-form__nav-option">Коллеге</li>
              <li class="dropdown__item search-form__nav-option">Ребенку</li>
            </ul>
          </li>
          <li class="dropdown search-form__nav-item">
            <div class="dropdown__selected">Размер</div>
            <ul class="dropdown__content">
              <li class="dropdown__item search-form__nav-option">Не выбрано</li>
              <li class="dropdown__item search-form__nav-option">Женщине</li>
              <li class="dropdown__item search-form__nav-option">Мужчине</li>
              <li class="dropdown__item search-form__nav-option">Маме</li>
              <li class="dropdown__item search-form__nav-option">Коллеге</li>
              <li class="dropdown__item search-form__nav-option">Ребенку</li>
            </ul>
          </li>
          <li class="dropdown search-form__nav-item">
            <div class="dropdown__selected">Упаковка</div>
            <ul class="dropdown__content">
              <li class="dropdown__item search-form__nav-option">Не выбрано</li>
              <li class="dropdown__item search-form__nav-option">Женщине</li>
              <li class="dropdown__item search-form__nav-option">Мужчине</li>
              <li class="dropdown__item search-form__nav-option">Маме</li>
              <li class="dropdown__item search-form__nav-option">Коллеге</li>
              <li class="dropdown__item search-form__nav-option">Ребенку</li>
            </ul>
          </li>
          <li class="search-form__nav-item">Сбросить настройки</li>
        </ul>
      </div>
    </div>
  </div>
</header>
