$color: green;
p{
  color: $color !important;
  font-size: 34px;
}
.new {
  font-size: 14px;
  font-family: 'Open Sans';
}

.rangeOperator {
  width: 25px;
  float: right;
  margin-left: 50px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  background-color: #666;
  color: #fff;
}
.range-wrap {
  margin-bottom: 25px;
}